<section id="education" class="max-w-3xl">
    <h2 class="text-2xl font-bold mb-4">🎓 Education</h2>
    <div class="space-y-6">
        <div>
            <h3 class="font-semibold text-lg">B.Sc. Hons, Electronic Engineering (Telecommunication)</h3>
            <p class="text-sm text-gray-500">Al-Neelain University | 2005 - 2010</p>
            <p class="text-gray-700 dark:text-gray-300 mt-2">
                Activities and Societies: Member of Sudan Engineering Council
            </p>
        </div>
    </div>
</section>